<a href="https://colab.research.google.com/github/Ernastta/master_learning/blob/main/Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Упражнение 0
Вам даны списки names и tabs.

Эти списки содержат фамилии сотрудников (names) и их табельные номера (tabs). Напишите программу, которая выведет на экран список пар имя номер, записанных в один строковый объект через пробел.

In [ ]:
names = ['Петров', 'Сидоров']
tabs = [123, 124]


pairs = list(zip(names, tabs))


result = [f"{name} {tab}" for name, tab in pairs]


print(result)

['Петров 123', 'Сидоров 124']

## Упражнение 1

На вход дан список digits.

Напишите код, который выводит на экран отсортированный по возрастанию список квадратов элементов digits.

Sample input: digits = [5, 2, 3] \
Sample output: [4, 9, 25]

In [ ]:
digits = [5, 2, 3]


squared_digits = [x**2 for x in digits]

sorted_squared_digits = sorted(squared_dig
print(sorted_squared_digits)

[4, 9, 25]

## Упражнение 2

Дан кортеж tpl.

Напишите код, который выведет на экран последний элемент кортежа tpl.

Sample input: tpl = (1, 2, 3, 4) \
Sample output: 4

In [ ]:
tpl = (1, 2, 3, 4)


print(tpl[-1])

4

## Упражнение 3

С помощью какой операции можно заменить последний элемент кортежа tpl = (1, 2, 3) на 4?

Кортежи в Python неизменяемы. Невозможно напрямую изменить отдельный элемент кортежа.
Чтобы получить кортеж с последним элементом, равным 4, нужно создать новый кортеж, используя срез и конкатенацию:

In [ ]:
tpl = (1, 2, 3)
new_tpl = tpl[:-1] + (4,)
print(new_tpl)

(1, 2, 4)

## Упражнение 4

С помощью функции .split() получите список из строки 'hello kitty' и возьмите два последних элемента. В качестве ответа введите результат вывода.

In [ ]:
string = 'hello kitty'
words = string.split()
print(words[-2:])

['hello', 'kitty']

Даны две строки: s1 и s2.

Напишите программу, которая выведет на экран количество уникальных символов, встречающихся в обеих строках.

Sample input: s1 = 'abcdabcd', s2 = 'cdcdef' \
Sample output: 2

In [ ]:
s1 = 'abcdabcd'
s2 = 'cdcdef'


set1 = set(s1)
set2 = set(s2)


common_chars = set1.intersection(set2)


print(len(common_chars))

2